.Uploader {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >.file-chooser {
        >.controls {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    >* {
        margin-bottom: 10px;
    }

    input[type="file"] {
        display: none;
    }
}