@import '../../common.scss';

.Playlist { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    > .video {
        padding: 10px;
        box-sizing: border-box;
        width: 33.33333%;
        height: 250px;

        @media screen and (max-width: $SCREEN_BRAKE_LARGE) {
            & {
                width: 50%;
            }
        }

        @media screen and (max-width: $SCREEN_BRAKE_SMALL) {
            & {
                width: 100%;
            }
        }
    }
}